body {
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 90%;
    height: 100vh;
    padding: 3rem;
    border: 0.5px solid black;
    background-color: lightgreen;
   

}

.singleBox {
    border: 0.5px solid black;
 
}

