body {
    margin: 0 auto;
    box-sizing: border-box;
}

.etchASketch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 10px;
}
.container {
    display: grid;
    width: 760px;
    height: 760px;
    padding: 3rem;
    border: solid 1px black;
   

}

.singleBox {
    border: 0.5px solid black;

 
}



